@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes flip {
  0% { transform: rotateX(0deg); }
  50% { transform: rotateX(-90deg); }
  100% { transform: rotateX(0deg); }
}

.flip {
  display: inline-block;
  animation: flip 0.5s ease-in-out;
  backface-visibility: hidden;
}

/* للعناوين الكبيرة */
h1, h2, h3 ,input, button {
  font-family: var(--font-league-spartan), sans-serif;
 
}

/* للنصوص العادية */
p, span, li {
  font-family: var(--font-montserrat), sans-serif;
}

/* monospace */
code, pre {
  font-family: var(--font-geist-mono), monospace;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
